/* <style> */
	table, td, th {
		border: 1px solid;
		border-collapse: collapse;
	}
	td , th {
		padding: 5px;
		width: 100px;
	}
	th {
		background-color: lightgreen;
	}

	button {
		padding: 5px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	button.blue {
		background-color: #3498db;
	}

	button.green {
		background-color: #2ecc71;
	}

	button.orange {
		background-color: orangered;
	}

#myinput_search {
		background-position: 10px 10px;
		background-repeat: no-repeat;
		width: 12%;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
		border: 1px solid #ddd;
		margin-bottom: 12px;
	}
	#myinput_display {
		background-position: 10px 10px;
		background-repeat: no-repeat;
		width: 12%;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
		border: 1px solid #ddd;
		margin-bottom: 12px;
	}

/* </style> */